@mixin overlay($color, $opacity) {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    border-radius: 16px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color;
    opacity: $opacity;
  }
}

@mixin fonts($color: colors.$text-light-color) {
  h1 {
    font-weight: 800;
    position: relative;
    z-index: 3;
    color: $color;
  }

  h2 {
    font-weight: 800;
    position: relative;
    z-index: 3;
    color: $color;
  }

  p {
    position: relative;
    z-index: 3;
    font-size: fonts.$font-s;
    color: $color;
  }
}
