$bg-body-color: #252530;
$text-light-color: #ebebeb;
$text-dark-color: #303049;
$orange-color: #ffb469;
$light-grey-color: #363643;
$ghost-accent-color: #ffb469;

$color-font-loop-and-elements-one: #333350;
$color-font-loop-and-elements-two: #ebebeb;
$color-font-paragraph: #cecece;
$color-font-inverse: #333350;
$color-elements-one: #363643;
$color-elements-two: #545260;
$color-elements-three: #ebebeb;
$color-bg-body: #252530;
$color-bg-one: #2a2a35;
$color-bg-two: #31313d;
$color-bg-three: #1e1e28;
$color-font-alert-red: #f74856;
$color-font-alert-orange: #ff970d;
$color-font-members-button: #ebebeb;
$color-font-members-cta-color-dark-button: #333350;
$color-bg-members-cta: #363643;
$color-bg-members-cta-shadow: #161519;
$color-bg-members-button: #333350;
$color-bg-members-cta-color-dark-button: #ebebeb;
$opacity-bg-site-image: 0.2;
$opacity-bg-archive-image: 0.2;
$overlay-pinned-hero-image: 0.25;
$overlay-pinned-image: 0.25;
$overlay-loop-image: 0.35;
$overlay-grid-image: 0.35;
$overlay-tags-page-image: 0.4;
$overlay-navigation-image: 0.25;
$overlay-color-light-image: 0.85;
$overlay-color-dark-image: 0.8;
$overlay-bg-image: 37, 37, 48;

$color-pear: #eeff88;
$color-amber: #dbad36;
$color-apricot: #ffb469;
$color-coral: #ff8383;
$color-rose: #ffa5be;
$color-cerise: #ff9ed8;
$color-thistle: #eebeff;
$color-lavender: #bfbcff;
$color-sea: #46d7f5;
$color-mint: #62e2cb;
$color-palegreen: #a7fb93;
$color-goldenrod: #c29500;
$color-copper: #dd5e00;
$color-carmine: #e6190a;
$color-ruby: #dd196d;
$color-fuchsia: #dc00e6;
$color-eggplant: #77008f;
$color-indigo: #631de1;
$color-ultramarine: #1423ff;
$color-turquoise: #0f657a;
$color-applegreen: #1eb700;
$color-ink: #14141e;
$color-bg-membership-card-free: #a7fb93;
$color-bg-membership-card-paid: #fed672;
